* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 15px;
    background-color:#3e8e41;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  


  @media (max-width: 500px) {
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel] {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: white
    }
  
    .container {
      width: 100%;
      border-radius: 0;
    }
  }
  