body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .container {
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
    padding-top: 10px;
    max-width: 500px;
    width: 90%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
 
  }
  
  h1 {
    font-size: 36px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
  }
  button[type="button"]:hover {
    background-color: #3fc543;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 800px;
      width: 80%;
      min-height: calc(100vh - 200px);
    }
  }
  @media screen and (max-width: 600px){
    .container{
        max-width: fit-content;
    }
    h1{
        font-size: 2em;
    }
  }
  